* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.mainDiv {
  border: 1px solid black;
  background-color: darkgrey;
  margin-top: 5px;
  max-width: 350px;
}
.calc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 5px;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  resize: none;
}
.displayCalc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: right;
  width: 308px;
}

.calcDisplaySup {
  border-collapse: collapse;
  border-color: 1px solid darkgray;
}
.calcDisplay {
  border-collapse: collapse;
  border-color: 1px solid darkgray;
}

.bodyCalc {
  width: 310px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid transparent;
  padding: 5px;
}
button {
  height: 50px;
  width: 50px;
}

.numKeyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
